body {
  margin: 0;
  background-color: #1f2937;
}
div {
  margin-top: 115px;
  margin-left: 52px;
  background-color: #1f2937;
  height: 50px;
  width: 550px;
}
h1 {
  color: white;
  margin-bottom: 1px;
  font-size: 40px;
  font-weight: bolder;
}
h2 {
  color: #4adf86;
  margin-top: 1px;
  margin-bottom: 20px;
  font-size: 40px;
}
h3 {
  color: rgba(213, 212, 216, 1);
  font-size: 20px;
}
button {
  background-color: rgba(16, 185, 129, 1);
  color: rgba(213, 212, 216, 1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}
hr {
  margin-top: 20px;
}
p {
  height: 39px;
  width: 211px;
  background-color: #273549;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  padding-top: 10px;
}
.password {
  display: flex;
  margin-left: 0;
  margin-top: 10px;
  column-gap: 10px;
}
.clrPassword {
  background-color: rgba(16, 185, 129, 1);
  color: rgba(213, 212, 216, 1);
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  width: 100px;
}
.cpyPassword {
  background-color: rgba(16, 185, 129, 1);
  color: rgba(213, 212, 216, 1);
  border-radius: 5px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  column-gap: 50px;
}

input {
  height: 37px;
  width: 220px;
}
